  <style>

      body{
        padding-top: 5px;
        padding-bottom: 25px;
        
      }

      .row{

        background-color:transparent; ;
        padding-top: 30px;
        color: #000;
      }

      .navbar-default
      {
        background-color: #000000;
        
        color: #DDCCEE;

      }


      .navbar-default .navbar-brand{

        color: #DDCCEE;
      }

      .navbar-default .navbar-brand:hover,
      .navbar-default .navbar-brand:focus
      {

        color: #bf80ff;
      }

      .navbar-default .navbar-nav > li > a {

        color: #DDCCEE;

      }

      .navbar-default .navbar-nav > .active > a,
      .navbar-default .navbar-nav > .active > a:hover,
      .navbar-default .navbar-nav > .active > a:focus {

        color: #000000;
        background-color: #e65c00;
      }

      .navbar-default .navbar-nav > li > a:hover,
      .navbar-default .navbar-nav > li > a:focus
      {

        color: #bf80ff;
        background-color: transparent;
      }      


      .navbar-default .navbar-nav > .open > a,
      .navbar-default .navbar-nav > .open > a:hover,
      .navbar-default .navbar-nav > .open > a:focus {

        color: #000000;
        background-color: #e65c00;
      }


      <!--course content-->

            h1 {
              font-family: 'Josefin Slab', serif;
              font-size:80px;
              color:#DDCCEE;
            }

            h3 {
              font-family: 'Josefin Slab', serif;
              
            }

            h4 {
              font-family: 'Josefin Slab', serif;
              font-size: 30px;
            }

            .jumbotron .lead {
                  color:#DDCCEE;
            }


             .jumbotron{
                  
                  padding-bottom: 0px;
            }


/* Custom container */
            .jumbotron .container-full {
              margin: 0 auto;
              width: 100%;
              min-height:100%;
              background-color:#331a00;
              color:#eee;
              overflow:hidden;
              padding: 40px;
            }

/* footer */

            .site-footer{

              background-color: #000;
              
            }

            .site-footer .row {

              font-family: 'Josefin Slab', serif;
              font-size: 20px;  
              color: #ddd;
            }


    </style>