  <style>

      body{
        padding-top: 5px;
        padding-bottom: 25px;
        

        
      }


      .navbar-default
      {
        background-color: #000000;
        border-color: #FFFFFF;
        color: #DDCCEE;

      }


      .navbar-default .navbar-brand{

        color: #DDCCEE;
      }

      .navbar-default .navbar-brand:hover,
      .navbar-default .navbar-brand:focus
      {

        color: #bf80ff;
      }

      .navbar-default .navbar-nav > li > a {

        color: #DDCCEE;

      }

      .navbar-default .navbar-nav > .active > a,
      .navbar-default .navbar-nav > .active > a:hover,
      .navbar-default .navbar-nav > .active > a:focus {

        color: #000000;
        background-color: #e65c00;
      }

      .navbar-default .navbar-nav > li > a:hover,
      .navbar-default .navbar-nav > li > a:focus
      {

        color: #bf80ff;
        background-color: transparent;
      }      


      .navbar-default .navbar-nav > .open > a,
      .navbar-default .navbar-nav > .open > a:hover,
      .navbar-default .navbar-nav > .open > a:focus {

        color: #000000;
        background-color: #e65c00;
      }


      <!-- content-->

            h1 {
              font-family: 'Oswald', serif;
              font-size:80px;
              color:#DDCCEE;
            }

            p {

            	font-family: 'Josefin Slab', serif;
            	font-size: 22px;
            }

            h4 {
              font-family: 'Josefin Slab', serif;
              font-size: 30px;
            }

           

/* Custom container */
           


            .well {

            	background-color: transparent;	
            	color:#ddd;
              margin-bottom: 420px;
              margin-top: 90px;
              
            }

            .well-lg {

              border-radius: 60px;
              
            }

            .well .row .descset {

            	padding-top: 15px;
            	padding-bottom: 30px;
            }

            



            .container .container-gallery{

                  padding-top: 60px;
    

            }

            /* footer */

            .site-footer{

              background-color: #000;
              
            }

            .site-footer .row {

              font-family: 'Josefin Slab', serif;
              font-size: 20px;  
              color: #ddd;
            }
            
    </style>