.navbar-custom{
	padding: 10px;
}
.navbar-custom .navbar-header .navbar-brand {
	
}
footer{
	
	color: white;
	background-color: #763568;
}

@media(max-width:300px){
	
	.contactmail .mailid h4{
		font-size: 12px;
	}
	
	.carousel-inner .carousel-caption{
		
		visibility: hidden;
	}
    
    
    .aboutall{
        
        font-size: 2em;
    }
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.navbar-custom .navbar-nav li a:hover {
  color: white;
  background-color:#763568;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
  transition: all 0.3s ease-in-out;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #763568;
  transition: all 0.3s ease-in-out;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #763568;
  transition: all 0.3s ease-in-out;
}